body {
    background-color: antiquewhite
}

header {margin: auto;width: auto;height: 120px;background-color: whitesmoke;
    opacity: 0.8; 
}

.blok1{margin:auto; width:80%; height: 500px; background-color:white; opacity:0.8; 
           
}
/*--MENU-------------------------------------------------------------------------------------------------------------*/

.menu {margin: auto;width: auto;height: 40px; background-color: wheat;
    opacity: 0.8; font-weight: bold; padding:6px;
}
.menu ul {margin: 10px;
}

.menu ul li {display:inline; border:1px solid black; padding: 1px; background-color: coral;
}

.menu ul li:hover {background-color: darkslategrey; }

.menu ul li a {text-decoration: none; font-family:'Shadows Into Light'; font-size: 16px; padding: 6px;
}

.menu ul li a:hover {color: white;}

.main {width: 96%; height: auto; background-color:  indianred;float: right; min-height: 600px; padding: 2%;
}



.footer {margin: auto; width: 80%;height: 100px;background-color: dimgrey ; text-align: center; 
         clear: both; color: white;
}